/*フォント*/
.font-lg {
	font-size: 1.5rem;
}

/*マージン*/
.margin-lr-lg {
	margin: 0 2rem;
}
.margin-r-sm {
	margin-right: .5rem;
}

.well {
	background-color: white;
	height: 50px;
}

hr {
	height: .5rem;
	background-color: white;
}

/*ロゴ部分*/
.thema {
	margin-bottom: 5rem;
	text-align: center;
}
	.thema img {
		height: 10rem !important;
	}
.thema-col {
	height: 10em;
	background-color: white;
	border-radius: .5em;
	padding: 2.5rem;
}
.cross {
	margin-top: 4rem;
	font-size: 5rem;
}
/*アイコン部分*/
.icon-group {
	background-color: #fef4f4;
	padding: .5rem 1rem;
	margin-right: .5rem;
}
.icon-header {
	padding: 0 1rem;
	background-color: #fef4f4;
}
#icons {
	margin-bottom: 5rem;
}
	#icons img {
		height: 4rem;
	}
/*過去のアイディア*/
.past-ideas {
	height: 200px;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
	.past-ideas img {
		height: 180px;
	}
	.past-ideas .caption {
		margin-top: 1rem;
		width: 180px;
		border: solic 1px gray;
	}
/*アイディア登録*/
.new-idea {
	position: fixed;
	bottom: -5em;
	right: -5em;
	background-color: #f0908d;
	width: 20rem;
	height: 20rem;
	border-radius: 10rem;
	padding-top: 5em;
	padding-left: 3em;
}
#input {
	margin: 2rem 0;
}

/*アイコンのドラッグアンドドロップ*/
.dropped {
	background-color: lightgray !important;
}
.big-img {
	height: 10rem !important;
}

/*検索結果*/
.card-body .label {
	width: 5rem;
}





/*created by http://cssarrowplease.com/*/
.arrow_box {
	width: 5em;
	height: 5em;
	margin-top: 10px;
	color: green;
	border-radius: 30px;

	position: absolute;
	right: 0;
	background: #fff;
	border: 2px solid green;
	padding-top: .5em;
	padding-left: 1em;
	z-index: 9;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.arrow_box:before {
	border-color: rgba(153, 153, 153, 0);
	border-right-color: green;
	border-width: 8px;
	margin-top: -8px;
}