/*フォント*/
.font-lg {
	font-size: 1.5rem;
}

/*マージン*/
.margin-lr-lg {
	margin: 0 2rem;
}
.margin-r-sm {
	margin-right: .5rem;
}

.well {
	background-color: white;
	height: 50px;
}

/*個別*/
.thema {
	margin-top: 5rem;
	text-align: center;
}
.cross {
	margin: 10px 0;
}
.past-ideas {
	height: 200px;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
	.past-ideas img {
		height: 180px;
	}
	.past-ideas .caption {
		margin-top: 1rem;
		width: 180px;
		border: solic 1px gray;
	}
#icons {
	margin-bottom: 5rem;
}
.icon {
	height: 30px;
}
#input {
	margin: 2rem 0;
}

/*アイコンのドラッグアンドドロップ*/
.dropped {
	background-color: lightgray !important;
}

/*検索結果*/
.card-body .label {
	width: 5rem;
}





/*created by http://cssarrowplease.com/*/
.arrow_box {
	text-align: center;
	width: 100px;
	height: 34px;
	line-height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	color: green;
	border-radius: 8px;

	position: relative;
	background: #fff;
	border: 2px solid green;
	padding: 0 10px;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.arrow_box:before {
	border-color: rgba(153, 153, 153, 0);
	border-right-color: green;
	border-width: 8px;
	margin-top: -8px;
}